<div class="alert alert-success alert-dismissible fade show" role="alert">
    You made new save......
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>