<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Save changes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div id="ss_modal_err_msg" ></div>

        <div class="modal-body">
          
            <div class="container">
                <div class="ss_content_modal_holder">
                    <label for="category_input">Category</label>
                    <input data-id="category" type="text" name="category_input" id="category_input">

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="ss_content_modal_holder">
                            <label for="input_english">English</label>
                            <input data-id="english" type="text" name="input_english" id="input_english">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ss_content_modal_holder">
                            <label for="input_bosnian">Bosnian</label>
                            <input data-id="bosnian" type="text" name="input_bosnian" id="input_bosnian">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="ss_content_modal_holder">
                            <label for="input_grammar">Grammar</label>
                            <input data-id="grammar" type="text" name="input_grammar" id="input_grammar">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ss_content_modal_holder">
                            <label for="grammar_m">Grammar meaning</label>
                            <input data-id="grammar_m" type="text" name="grammar_m" id="grammar_m">
                        </div>
                    </div>
                </div>

                <div class="ss_content_modal_holder">
                    <label for="image_word">Arabic word</label>
                        <div class="ss_img_holder d-flex justify-content-between" id="img_holder">
                            <img src="/img/test.png" title="test.png" id="image_word"></img>
                            <input data-id="arabic" name="img"  id="upload" class="ss_dialog_box" type="file"  onchange="onFileSelected(event)"  accept="image/*" >
                            <i class="fas fa-image"></i>
                        </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-primary" id="ss_delete_row">Delete</button>
        </div>
      </div>
    </div>
  </div>
