<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/all_words.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    
    <title>Hello, world!</title>
  </head>
  <body>
    

    <div class="container-fluid">
      <div class="row">
        
        <div class="col-md-3  ps-0 d-md-none ss_nav_hamburger">
          <div class=" ss_sidedbar">
            <nav class="navbar">

              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" >
                <i class="fas fa-bars ss_primary_text"></i>
              </button>

              <div class="offcanvas offcanvas-start ss_nav_show" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header pb-0 ps-1 ">
                  <h1 class="ss_header_canvas">Learn Arabic</h1>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body pt-0 ps-0 pb-0">
                  <div class="ss_sidedbar ps-2 pe-2">
                    <div class="ss_pages">
                      <p>Page 1</p>
                      <p>Page 2</p>
                      <p>Page 3</p>
                      <p>Page 4</p>
                      <p>Page 5</p>
                      <p>Page 6</p>
                      <p>Page 7</p>
                      <p>Page 8</p>
                      <p>Page 9</p>
                      <p>Page 10</p>
                      <p>Page 11</p>
                      <p>Page 12</p>
                      <p>Page 13</p>
                      <p>Page 14</p>
                      <p>Page 15</p>
                      <p>Page 16</p>
                      <p>Page 17</p>
                      <p>Page 18</p>
      
                  </div>
                   
                
                </div>
              </div>
            
          </nav>
          </div>
          
        </div>

        <div class="col-2 ps-0 d-md-flex ss_primary_bg ss_sidebar_col pe-0">
          <div class="ss_sidedbar  pe-0">

            
            <div class="ss_brand_holder">
              <i class="fas fa-arrow-alt-circle-left"></i>
              <h1>Learn Arabic</h1>
            </div>

            <div class="ss_pages">
                <p>Page 1</p>
                <p>Page 2</p>
                <p>Page 3</p>
                <p>Page 4</p>
                <p>Page 5</p>
                <p>Page 6</p>
                <p>Page 7</p>
                <p>Page 8</p>
                <p>Page 9</p>
                <p>Page 10</p>
                <p>Page 11</p>
                <p>Page 12</p>
                <p>Page 13</p>
                <p>Page 14</p>
                <p>Page 15</p>
                <p>Page 16</p>
                <p>Page 17</p>
                <p>Page 18</p>

            </div>
             
          </div>
        </div>
        

        <div class="col-10 ">
            <div class="row ss_colapse">

                <div class="col-6 pe-0">
                    <div class="d-flex align-items-center ss_line ss_header_holder">
                        <h2>This, that...!</h2>
                        <div>
                            <input class="form-check-input ss_check_box" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                        </div>
                    </div>

                </div> 
                <div class="col-6 ps-0">
                    <div class="d-flex align-items-center ss_line ps-2 ss_header_holder">
                        <h2>No, that...!</h2>
                        <div>
                            <input class="form-check-input ss_check_box" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                        </div>
                    </div>
                   
                </div>

            </div>

            <div class="row ss_colapse">

                <div class="col-6 ss_left_content">
                    <div class="d-flex justify-content-between align-items-center ss_line_vertical ss_text_holder">
                        <p>this</p>
                        <p>ovaj</p>
                        <p>mg</p>
                        <p>arabic</p>
                    </div>
                    
                </div>
                <div class="col-6 ">
                    <div class="d-flex justify-content-between align-items-center ss_line_vertical ss_text_holder border-0">
                        <p>this</p>
                        <p>ovaj</p>
                        <p>mg</p>
                        <p>arabic</p>
                      </div>
                    
                </div>

            </div>

            <!-- ---------------------------------------------------------------- -->
            <div class="row d-sm-flex d-md-none">

              <div class="col-sm-12 pe-0">
                  <div class="d-flex align-items-center ss_line ss_header_holder">
                      <h2>This, that...!</h2>
                      <div>
                          <input class="form-check-input ss_check_box" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                      </div>
                  </div>

              </div> 
              

          </div>

          <div class="row d-sm-flex d-md-none">

              <div class="col-sm-12 ss_left_content">
                  <div class="d-flex justify-content-between align-items-center  ss_text_holder">
                      <p>this</p>
                      <p>ovaj</p>
                      <p>mg</p>
                      <p>arabic</p>
                  </div>
                  
              </div>
          </div>
        </div>

      </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>