<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
    <title>Hello, world!</title>
  </head>
  <body>

    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <h1 class="mt-5 ss_color fw-light">Learn Arabic</h1>
                <form class="ss_border p-4">
                    <div class="mb-4">
                      <label for="exampleInputEmail1" class="form-label ss_color">Name</label>
                      <input type="name" class="form-control ss_input" id="exampleInputEmail1" >
                    </div>
                    <div class="mb-4">
                      <label for="exampleInputPassword1" class="form-label ss_color">Password</label>
                      <input type="password" class="form-control ss_input" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn ss_btn">Login</button>
                  </form>
            </div>
            <div class="col-3"></div>
              
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>